<!DOCTYPE html>
<html>
<head>
  <title>Hw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag :application, "https://cdnjs.cloudflare.com/ajax/libs/furtive/2.3.0/furtive.min.css" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
